{% extends "account/base.html" %}
{% block content %}
    {% load countries %}
    {% get_countries as countries %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <div class="o-container">
    <h2>{{ user.username }}</h2>
    {% if user.birthdate == None %}
        <h2>Дата рождения: </h2>
    {% else %}
        <h2>Дата рождения: {{ user.birthdate }}</h2>
    {% endif %}
    <h2>Страна: {{ user.country }}</h2>
    </div>
    <div class="participant">
        <form method="post" >{% csrf_token %}
            <p>
                <label for="{{ form.birthdate.id_for_label }}">Дата рождения: </label>
                <input id="{{ form.birthdate.id_for_label }}" type="date" name="birthdate" value="{{ user.birthdate }}">
            </p>
            <p>
                <label for="{{ form.fist_name.id_for_label }}">Имя: </label>
                <input  id="{{ form.fist_name.id_for_label }}" type="text" maxlength="100" name="first_name" value="{{ user.first_name }}">
            </p>
            <p>
                <label for="{{ form.last_name.id_for_label }}">Фамилия: </label>
                <input  id="{{ form.last_name.id_for_label }}" type="text" maxlength="100" name="last_name" value="{{ user.last_name }}">
            </p>
            <p>
            {% for gender_choice in form.gender %}
                <input  type="radio" name="gender" id="{{ form.gender.id_for_label }}" value="{{ gender_choice.data.value }}"
                {% if gender_choice.data.value == user.gender %}
                    checked="checked"
                {% endif %}>
                <label for="choice{{ form.gender.id_for_label }}">{{ gender_choice }}</label>
            {% endfor %}
            </p>
            <p>
                <select name="country">
                    {% for country in countries %}
                        <option {% if user.country == country.code %}selected{% endif %}
                                id="{{ form.country.id_for_label }}"
                                value="{{ country.code }}">{{ country.name }}</option>
                    {% endfor %}
                </select>
                <input type="submit" value="Обновить">
            </p>
        </form>
    </div>
    </div>
{% endblock %}
