{% extends "account/base.html" %}
{% block content %}
    {% load countries %}
    {% get_countries as countries %}
    <h1>{{ user.first_name }} {{ user.last_name }}</h1>
    <h2>{{ user.username }}</h2>
    {% if user.birthdate == None %}
        <h2>Дата рождения: </h2>
    {% else %}
        <h2>Дата рождения: {{ user.birthdate }}</h2>
    {% endif %}
    <h2>Страна: {{ user.country }}</h2>
    <div class="participant">
    <div class="form-update-user">
        <form method="post" class="form-update-user">{% csrf_token %}
            <label for="{{ form.birthdate.id_for_label }}">Дата рождения: </label>
            <input class="update-user-input" id="{{ form.birthdate.id_for_label }}" type="date" name="first_name" value="{{ user.birthdate }}">
            <label for="{{ form.fist_name.id_for_label }}">Имя: </label>
            <input class="update-user-input" id="{{ form.fist_name.id_for_label }}" type="text" maxlength="100" name="first_name" value="{{ user.first_name }}">
            <label for="{{ form.last_name.id_for_label }}">Фамилия: </label>
            <input class="update-user-input" id="{{ form.last_name.id_for_label }}" type="text" maxlength="100" name="last_name" value="{{ user.last_name }}">
            <div class="gender-choice">
            {% for choice in form.gender %}
                {% if choice == user.gender %}
                    <input class="update-user-input" type="radio" name="gender" id="{{ form.gender.id_for_label }}" value="{{ choice.id }}" checked="checked">
                {% else %}
                    <input class="update-user-input" type="radio" name="gender" id="{{ form.gender.id_for_label }}" value="{{ choice.id }}">
                {% endif %}
                <label for="choice{{ form.gender.id_for_label }}">{{ choice }}</label>
            {% endfor %}
            </div>
            <select>
                {% for country in countries %}
                    <option selected="{{ user.country }}" id="{{ form.country.id_for_label }}" value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <input class="update-user-input" type="submit" value="Обновить">
        </form>
    </div>
    </div>
{% endblock %}
