{% extends "base.html" %}
{% block content %}
    <div class="o-container">
    <table>
        <tr>
            <th>Номер игры</th>
            <th>Номер корта</th>
            <th>Раунд</th>
            <th>Время</th>
            <th>Команда (ХОЗЯЕВА)</th>
            <th>Команда (ГОСТИ)</th>
            <th>Счет</th>
        </tr>
        {% for game in games %}
            <tr>
                <th>{{ game.game_number }}</th>
                <th>{{ game.court_number }}</th>
                <th>{{ game.round_game }}</th>
                <th>{{ game.start_time }}</th>
                <th>{{ game.home_team.title }}</th>
                <th>{{ game.away_team.title }}</th>
                <th>{{ game.home_team_score }}-{{ game.away_team_score }}</th>
            {% if is_referee or user.is_superuser %}
                <th><a href="{% url "update_game_score" pk=game.id %}">Обновить счет</a></th>
            {% endif %}
            {% if user.is_superuser %}
                <th><a href="{% url "update_game_info" pk=game.id %}">Обновить игру</a></th>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
    </div>
{% endblock %}
