.c-footer-social {
	 background-image: url("../img/data_image_svg+xml;….svg");
	 background-position: bottom;
	 background-repeat: no-repeat;
	 background-size: 80% auto;
	 display: flex;
	 justify-content: center;
	 margin-bottom: 30px;
	 margin-top: 0;
	 padding: 0 10px 30px;
}
 @media screen and (min-width: 576px) {
	 .c-footer-social {
		 background-size: 350px auto;
		 padding-bottom: 40px;
	}
}
 @media screen and (min-width: 768px) {
	 .c-footer-social {
		 background-size: 350px auto;
		 margin-bottom: 30px;
		 padding-bottom: 30px;
	}
}
 @media screen and (min-width: 992px) {
	 .c-footer-social {
		 margin-bottom: 50px;
		 padding-bottom: 60px;
	}
}
 .c-footer-social__item {
	 flex-basis: 50px;
	 flex-grow: 0;
	 flex-shrink: 0;
	 list-style: none;
	 margin: 0 5px;
}
 @media screen and (min-width: 576px) {
	 .c-footer-social__item {
		 margin: 0 10px;
	}
}
 .c-footer-social__link {
	 background-position: 50%;
	 background-repeat: no-repeat;
	 background-size: cover;
	 display: block;
	 height: 50px;
	 transition-duration: 0.15s;
	 transition-property: transform;
	 transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
	 width: 50px;
}
 .c-footer-social__link--facebook {
	 background-image: url('../img/facebook.svg');
}
 .c-footer-social__link--facebook:hover {
	 transform: rotate(6deg) scale(1.2) translateY(-20%);
}
 .c-footer-social__link--instagram {
	 background-image: url('../img/instagram.svg');
}
 .c-footer-social__link--instagram:hover {
	 transform: rotate(-3deg) scale(1.2) translateY(-20%);
}
 .c-footer-social__link--youtube {
	 background-image: url('../img/youtube.svg');
}
 .c-footer-social__link--youtube:hover {
	 transform: rotate(-2deg) scale(1.2) translateY(-20%);
}
