[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-debug-toolbar = "*"
pudb = "*"

[packages]
django-rest-swagger = "==2.1.2"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
pre-commit = "*"
django-extensions = "*"
django-countries = "*"
django-model-utils = "*"
psycopg2 = "==2.7.5"
django-rest-auth = "*"
django = "*"
django-allauth = "*"
pytest = "*"
behave-django = "*"
bpython = "*"

[requires]
python_version = "3.7"
