.banner-container {
	 background-color: #222;
	 bottom: 0;
	 display: none;
	 margin: 0 auto;
	 opacity: 0.95;
	 position: sticky;
	 right: 0;
	 width: 1024px;
}
 .banner-container p {
	 color: #fff;
	 display: inline-block;
	 font-size: 18px;
	 margin: 27px 16px 20px 30px;
}
 .banner-container span {
	 color: #eb7271;
}
 .banner-container .btn-registration-cta {
	 background-color: #222;
	 border: 2px solid #fff;
	 border-radius: 5px;
	 color: #fff !important;
	 float: right;
	 font-size: 18px;
	 line-height: 12px;
	 margin: 14px 20px 13px;
	 padding: 15px 20px;
	 text-align: center;
	 text-decoration: none;
}
 .banner-container .btn-registration-cta:hover {
	 background-color: #fff;
	 color: #222 !important;
}
 @media only screen and (max-width: 750px) {
	 .banner-container {
		 display: none !important;
	}
}
 @media only screen and (max-width: 1050px) {
	 .banner-container {
		 width: 100%;
	}
}
