.clearfix::after {
	 clear: both;
	 content: '';
	 display: table;
}
 .u-visually-hidden {
	 clip: rect(1px 1px 1px 1px) !important;
	 clip: rect(1px, 1px, 1px, 1px) !important;
	 height: 1px !important;
	 overflow: hidden !important;
	 position: absolute !important;
	 width: 1px !important;
}
 @keyframes loading-anim {
	 0% {
		 opacity: 0.1;
	}
	 50% {
		 opacity: 1;
	}
	 100% {
		 opacity: 0.1;
	}
}
 .loading {
	 box-sizing: border-box;
	 height: 1.05em;
	 left: 50%;
	 position: absolute;
	 top: 50%;
	 transform: translate(-50%, -50%);
	 width: 8.4em;
}
 @media (min-width: 500px) {
	 .loading {
		 height: 1.4em;
		 width: 11.2em;
	}
}
 @media (min-width: 800px) {
	 .loading {
		 height: 2em;
		 width: 16em;
	}
}
 .loading .loading__dot {
	 animation: loading-anim 800ms infinite ease-out;
	 border-radius: 100%;
	 box-sizing: border-box;
	 display: block;
	 float: left;
	 height: 0.75em;
	 margin: 0.15em;
	 width: 0.75em;
}
 @media (min-width: 500px) {
	 .loading .loading__dot {
		 height: 1em;
		 margin: 0.2em;
		 width: 1em;
	}
}
 @media (min-width: 800px) {
	 .loading .loading__dot {
		 height: 1.5em;
		 margin: 0.25em;
		 width: 1.5em;
	}
}
 .loading .loading__dot--red {
	 background-color: #f3524f;
}
 .loading .loading__dot--yellow {
	 animation-delay: 100ms;
	 background-color: #ffb12a;
}
 .loading .loading__dot--green {
	 animation-delay: 200ms;
	 background-color: #53cf63;
}
 .loading .loading__dot--turquoise {
	 animation-delay: 300ms;
	 background-color: #0faeb0;
}
 .loading .loading__dot--navy {
	 animation-delay: 400ms;
	 background-color: #004881;
}
 .loading .loading__dot--violet {
	 animation-delay: 500ms;
	 background-color: #b85ca8;
}
 .loading .loading__dot--orange {
	 animation-delay: 600ms;
	 background-color: #f68e3b;
}
 .loading .loading__dot--blue {
	 animation-delay: 700ms;
	 background-color: #41a6c4;
}
