{% extends "base.html" %}
{% block content %}
    <div class="o-container">
        <form method="post">{% csrf_token %}
        <p>
            <select name="type">
                {% for type in form.type %}
                    <option  {% if view.kwargs.type == type.data.value %}selected{% endif %} id="{{ form.type.id_for_label }}" value="{{ type.data.value }}">{{ type.data.label }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <select name="gender">
                {% for gender in form.gender %}
                    <option  {% if view.kwargs.gender == gender.data.value %}selected{% endif %} id="{{ form.type.id_for_label }}" value="{{ gender.data.value }}">{{ gender.data.label }}</option>
                {% endfor %}
            </select>
        </p>
        <input class="update-user-input" type="submit" value="Показать">
        </form>
    <table>
        <tr>
                <th>Фамилия Имя</th>
                <th>Рейтинг</th>
        </tr>
        {% for player in ratings_list %}
        <tr>
            <td>{{ player }}</td>
            <td>{{ player.player_rating.0.points }}</td>
        </tr>
    {% endfor %}
    </table>
    </div>
{% endblock %}
