<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static '/zpbeachvolley/css/utils.css' %}">
<link rel="stylesheet" href="{% static '/zpbeachvolley/css/legacy.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/main.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/mobile.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/banners.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/header.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/footer.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/footer-social.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/footer-nav.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/forms.css' %}">
<link rel="stylesheet" href="{% static 'zpbeachvolley/css/games_list.css' %}">
<html>
<head>
    <title>{% block head_title %}ZpBeachVolley{% endblock %}</title>
    {% block extra_head %}
    {% endblock %}
</head>
<body>

{% block body %}

    {% if messages %}
        <div>
            <strong>Сообщения:</strong>
            <ul>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="menu-container">
        {% if user.is_authenticated %}
            <div class="menu"><a
                    href="{% url 'user_detail' %}">{{ user.username }}</a>
            </div>
            <div class="menu"><a href="{% url 'user_email' %}">Изменить
                email</a></div>
            <div class="menu"><a href="{% url 'user_logout' %}">Выйти</a></div>
        {% else %}
            <div class="menu"><a href="{% url 'user_login' %}">Войти</a></div>
            <div class="menu"><a href="{% url 'user_register' %}">Зарегестрироваться</a>
            </div>
        {% endif %}
    </div>

    <header class="o-header">
        <nav class="o-container o-header__container">
            <a class="o-header__home-link" href="/">
                <span class="u-visually-hidden">Главная</span>
            </a>

            <div class="o-header__nav">
                <ul class="c-nav">
                    <li class="c-nav__item">
                        <a class="c-nav__link c-nav__link--competition"
                           href="{% url 'competition_type_choice' %}">
                            Соревнования </a>
                    </li>
                    <li class="c-nav__item">
                        <a class="c-nav__link c-nav__link--ratings"
                           href="{% url 'rating_choice' %}">
                            Рейтинг </a>
                    </li>
                </ul>
            </div>

            <div class="o-header__spacer"></div>
            <div class="o-header__toggle">
                <span aria-hidden="true" class="c-nav-toggle">
                    <span class="c-nav-toggle__icon">
                        <span class="c-nav-toggle__icon-inner">
                            <span class="u-visually-hidden">Open Navigation</span>
                        </span>
                    </span>
                </span>
            </div>
        </nav>
    </header>
    <script>
        var header = document.querySelector('.o-header')
        var navToggle = document.querySelector('.c-nav-toggle')

        navToggle.addEventListener('click', function (event) {
            event.preventDefault()

            header.classList.toggle('o-header--nav-open')

            document.querySelector('.c-nav-toggle__icon').classList.toggle('c-nav-toggle__icon--open')
            document.querySelector('.c-nav-toggle__icon-inner').classList.toggle('c-nav-toggle__icon-inner--open')
        })
    </script>
    <div class="container">
    <div class="main">
    {% block content %}
    {% endblock %}
    </div>
{% endblock %}
{% block extra_body %}
{% endblock %}
<footer class="o-footer">
    <div class="o-footer__slice">
        <div class="o-footer__container">
            <div class="o-footer__nav">
                <div class="c-footer-nav">
                        <span class="c-footer-nav__title">
                            О нас                        </span>

                    <ul class="c-footer-nav__list">
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="#">
                                О нас </a>
                        <li class="c-footer-nav__item">
                            <a class="c-footer-nav__link" href="#">
                                Контакты </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="o-footer__nav"></div>
            <div class="o-footer__newsletter"></div>
            <div class="o-footer__info">
                <ul class="c-footer-social">
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--facebook"
                           href="https://www.facebook.com/groups/ZpBeachVolley">
                            <span class="u-visually-hidden">
                                Мы в Facebook                            </span>
                        </a>
                    </li>

                    </li>
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--instagram"
                           href="https://www.instagram.com/_zpbeachvolley/">
                            <span class="u-visually-hidden">
                                Мы в Instagram                            </span>
                        </a>
                    </li>
                    <li class="c-footer-social__item">
                        <a class="c-footer-social__link c-footer-social__link--youtube"
                           href="https://www.youtube.com/channel/UCPK-dD4csjIBilJZxZfhvhA">
                            <span class="u-visually-hidden">
                                Подпишись на канал ZpBeachVolley                            </span>
                        </a>
                    </li>
                </ul>

                <div class="o-footer__charity">
                    <p class="c-footer-charity">
                                ZpBeachVolley Community<br>
                                Украина Запорожье
                    </p>
                </div>
            </div>
        </div>
    </div>

</footer>
</div>
</body>
</html>
