{% extends "base.html" %}
{% block content %}
    <div class="o-container">
        <div class="main-page-games">
            {% for game in games %}
                <div class="match ng-isolate-scope over">
                    <div class="header">
        <span class="location">
            <span class="court-number">Корт {{ game.court_number }}</span>
        </span>
            <time datetime="{{ game.start_time }}">
                            <span class="day"></span>
                            <span class="time">{{ game.start_time }}</span>
            </time>
                        <span class="pool">
                            <a href="#">{{ game.round_game }}
                                <span class="ng-binding ng-scope"> {{ competition.title }}</span>
                                <span class="">-</span> Men
                            </a>
                        </span>
                        <span class="match-status">Match {{ game.game_number }}</span>
                    </div>
                    <div class="content">
                        <span class="details ng-scope">
            <a href="#">
                <span class="score">{{ game.home_team_score }} - {{ game.away_team_score }}</span>
            </a>
{#            <ol class="sets">#}
{#                <li class="sets-score">#}
{#                </li>#}
{#            </ol>#}
        </span>

                        <figure class="team">
                            <a class="ng-scope">
{#                                href="{% url 'team_details' pk=game.home_team.id %}">#}
                            <figcaption class="ng-binding ng-scope">{{ game.home_team }}
                            </figcaption>
                            </a>
                        </figure>

                        <figure class="team">
                            <a class="ng-scope">
{#                                href="{% url 'team_details' pk=game.away_team.id %}">#}
                            <figcaption class="ng-binding ng-scope">{{ game.away_team }}
                            </figcaption>
                            </a>
                        </figure>
                    </div>

                    <div class="matchbox-footer item">
                        <a target="_blank"
                           href="#"
                           class="livestream livestream-Over">
            <span class="livestream-txt ">
                Watch
            </span>
                        </a>

                    </div>

                </div>
{#                <div class="main-page-games">#}
{#                    <div class="game-header">#}
{##}
{#                    </div>#}
{#                    <p>{{ game.home_team }} {{ game.away_team }}</p>#}
{##}
{#                </div>#}
            {% endfor %}
        </div>
    </div>
{% endblock %}
